$very-dark-blue: #141C2F;
$dark-blue: #1B355E;
$light-blue: #1F2A48;
$button-blue: #0079FC;
$gray: #9EA5BF;

.container-body{
    top: 100px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    position: relative;

    header{
        height: 40px;
        margin-bottom: 20px;
        .title{
            float:left;
            letter-spacing: 0.2em;
        }

        .brightness-mode{
            float:right;

            .sun-icon, .moon-icon {
                margin-left: 20px;
            }

            .light-mode{
                border: 0;
                color: white;
                background-color: #141C2F;
                letter-spacing: 0.2em;
                position: relative;
                top: 3px;
            }

            .dark-mode{
                border: 0;
                color: #141C2F;
                background-color: #F5F8FF;
                letter-spacing: 0.2em;
                position: relative;
                top: 3px;
                display:none;

            }
        }
    }

    input#search{
        background-color: $light-blue;
        height: 50px;
        border-radius: 10px;
        bordeR: 0;
    }

    input#search:focus,input#search::placeholder{
        text-indent: 40px;
        color:$gray;
    }

    .search-btn{
        position: absolute;
        top: 65px;
        right: 10px;
        border-radius: 10px;
    }

    .search-icon{
        position: absolute;
        top: 78px;
        left: 20px;
        color: $button-blue;
    }

    .user-information {
        padding: 20px;
        background-color: $light-blue;
        margin-top: 20px;
        border-radius: 10px;

        .handle{
            color:$button-blue !important;
        }

        .bio{
            color:$gray !important;
        }

        .github-user-image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }

        .joined-date{
            position: relative;
            top: 7px;
            color:$gray !important;
        }

        .github-statistics{
            background-color:#141C2F;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px 20px;
        }

        .text-heading{
            margin-bottom:0.1rem;
            color: $gray !important;
        }

        .text-result{
            margin-bottom:0.1rem;
        }

        .icon{
            color:white;
        }

        .user-location,.user-blog, .user-twitter, .user-github{
            color:$gray;
            padding-left: 10px;
        }

        .github-information{
            margin-top:20px;
        }

        .location, .blog, .twitter, .github{
            padding-bottom:10px;
        }
    }
}

p, h4, h3 {
    color: white;
}